.books-container {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;

  & h1 {
    margin-bottom: 40px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  font-size: 18px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #219ebc;
}

th {
  background-color: #219ebc;
  color: #f9f9f7;
}
