.bookcard {
  &_container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }

  &_img {
    width: 50px;
    height: 70px;
  }

  &_row {
    overflow-x: auto;
  }
}

.book-details {
  color: black;
  text-decoration: none;
  background-color: #fafafa;

  &:hover {
    color: #219ebc;
    text-decoration: underline;
  }
}

td {
  background-color: #fafafa;
}
