$mobile-breakpoint: 768px;

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.nav-links {
  display: flex;
  width: 400px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  &_header {
    color: black;
  }

  &_header:hover {
    color: #219ebc;
  }

  &_li {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.2em;
  }
}

.brand-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &_img {
    width: 150px;
    height: 150px;
  }

  &_header {
    font-size: 35px;
    color: black;
  }
}

// add hamburger-menu
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;

  &_line {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
  }
}

// @media (max-width: $mobile-breakpoint) {
//   .nav-links {
//     display: none;
//   }

//   .hamburger-menu {
//     display: flex;
//   }
// }

// .nav-links.open {
//   display: flex !important;
//   flex-direction: column;
//   align-items: center;
//   position: absolute;
//   top: 100%;
//   left: 0;
//   right: 0;
//   background-color: black;
//   z-index: 1;
// }
